<h1>DIREKTIVE</h1>

<div (click)="kliknuto()" class="kutija">
    <!-- AKO KLIKNEM NA DIV, ISPALICE EVENT KOJI MENJA VREDNOST VARIJABLE isLoggedIn na suprotno trenutnoj vrednosti-->
    <div>
        <h1>IF STATEMENTS</h1>
    </div>
    <div class="flex-row flex-center outside-border">
        <!-- da bi ngIf radila, potrebno je prvo u TS fajl importovati Common module direktivom "import { CommonModule } from '@angular/common';" -->
        <!-- kako ngIf radi? tako sto ako joj se prosledi true vrednost, prikazace kontrolu, ako ima false, ugasice je -->
        <h4 class="color-green" *ngIf='isLoggedIn'> {{userName}} </h4>
        <!-- ngIf direktiva ne poseduje ngElse, vec pravimo varijantu za vrednost false -->
        <h4 class="color-pink" *ngIf='!isLoggedIn'> {{userName}} nije ulogovan</h4>

        <!-- @if je novija direktiva, ukljucena u Angular 17, funkcionise tako sto joj se prosledi varijabla koju ce da osluskuje, kada je true, 
         prikazace kontrolu, kada je false uklonice je iz viewa -->
        @if (isLoggedIn) {
        <h4 class="color-green"> {{userName}} </h4>
        }

        <!-- @else statement funkcionise tako da prikazuje sadrzaj kada je vrednost varijable, koju @if osluskuje, false -->
        @else {
        <h4 class="color-pink"> {{userName}} nije jos uvek ulogovan </h4>
        }
    </div>


</div>

<div>
    <h1>NG TEMPLATE</h1>
</div>
<div class="flex-row flex-center outside-border">
    <!-- ng-template funkcionise tako sto se definise ng-template i u njemu ime template #<ime template>
        zatim se ngIf direktivi nakon boolean varijable prosledjuje else<ime template> koji ce on da prosledi ukoliko je vrednost boolean varijable FALSE -->
    <h4 *ngIf="isLoggedIn; else message" class="color-green">{{userName}} je ulogovan</h4>
    <ng-template #message>
        <h4 class="color-pink">{{userName}} nije ulogovan (ovo je ng-template)</h4>
    </ng-template>

</div>

<div>
    <h1>Multiple conditions ngIf pristup</h1>
</div>
<div class="flex-column flex-center outside-border">
    <h2>Obican pristup putem *ngIf-a </h2>
    <div class="flex-row">
        <h4 *ngIf="isAdmin">Ulogovani ste kao Administrator</h4>
        <h4 *ngIf="isMember">Ulogovani ste kao Clan</h4>
        <h4 *ngIf="isGuest">Ulogovani ste kao Gost</h4>
    </div>

</div>
<div class="flex-column flex-center outside-border">
    <!-- ngIf - Else pristup je komplikovan jer kada imamo vise od jednog izbora,
     svaki sledeci "else if" mora da bude ugnezden unutar <ng-template>
        Sledi primer:  -->
    <h2>ngIf - Else pristup</h2>
    <div class="flex-row">
        <h4 *ngIf="isAdmin; else memberMsg">Ulogovani ste kao Administrator</h4>

        <ng-template #memberMsg>
            <h4 *ngIf="isMember; else guestMsg">Ulogovani ste kao Clan</h4>
        </ng-template>
        <ng-template #guestMsg>
            <h4 *ngIf="isGuest">Ulogovani ste kao Gost</h4>
        </ng-template>
    </div>

</div>


<div class="flex-column flex-center outside-border">
    <!-- ngIf - Else pristup je komplikovan jer kada imamo vise od jednog izbora,
     svaki sledeci "else if" mora da bude ugnezden unutar <ng-template>
        Sledi primer:  -->
    <h2>If uslovi sa brojevnom promenljivom</h2>
    <div class="flex-row">
        @if(logInCounter<3) { <button (click)="attemptLogIn()">Log in</button>}
            @else {
            <h4>Premasili ste dozvoljeni broj pokusaja</h4>
            }
    </div>

</div>

<div class="flex-column flex-center outside-border">
    <!-- ngIf - Else pristup je komplikovan jer kada imamo vise od jednog izbora,
     svaki sledeci "else if" mora da bude ugnezden unutar <ng-template>
        Sledi primer:  -->
    <h2>If uslovi sa tekstualnom promenljivom</h2>

    <!-- primer sa ngIf/else pristupom -->
    <div class="flex-row flex-center outside-border">
        <h4 *ngIf="userRole=='Admin'; else userRoleMember">Welcome admin</h4>
        <ng-template #userRoleMember>
            <h4 *ngIf="userRole=='Member'; else userRoleRest">Welcome member</h4>
        </ng-template>
        <ng-template #userRoleRest>
            <h4>Welcome {{userRole}}</h4>
        </ng-template>
    </div>

    <div class="flex-row flex-center outside-border">
        @if(userRole=='Admin'){
        <h4>Welcome admin</h4>
        }
        @else if(userRole=='Member'){
        <h4>Welcome Member</h4>
        }
        @else {
        <h4>Welcome {{userRole}} iz &#64;if statement</h4>
        }
    </div>

</div>


<!-- Jasno se vidi da je @if/@else if sintaksa daleko laksa od ngIf sintakse -->
<h1>Multiple conditions &#64;if/else pristup</h1>
<div class="flex-row flex-center outside-border">
    @if(isAdmin){
    <h4>Ulogovani ste kao administrator</h4>
    }
    @else if(isMember){
    <h4>Ulogovani ste kao clan</h4>
    }
    @else if (isGuest) {
    <h4>Ulogovani ste kao gost!!!</h4>
    }
</div>

<div class="flex-column flex-center outside-border">
    <h1>Ng Template outlet</h1>
    <div class="flex-column flex-center">

        <!-- kada definisemo ng-template unutar neke komponente, mozemo je svuda koristiti
         samo je potrebno da u kontroli navedemo [[ngTemplateOutlet]="<ime ng-template"] 
         i ta ng-template ce biti appendovana na kraj tog html taga 
         da bi ngTemplateOutlet funkcionisala, moramo importovati angular/common u .ts component fajl
         -->
        <ng-template #callToAction>
            <button>Uloguj se!!!</button>
        </ng-template>

        <div class="flex-column flex-center" [ngTemplateOutlet]="callToAction">
            <h3>Prvi div</h3>
        </div>

        <div class="flex-column flex-center" [ngTemplateOutlet]="callToAction">
            <h3>Drugi div</h3>
        </div>

        <div class="flex-column flex-center" [ngTemplateOutlet]="callToAction">
            <h3>Treci div</h3>
        </div>
    </div>
</div>

<div class="flex-column flex-center outside-border">
    <h1>FOR DIREKTIVA</h1>
    <div class="flex-column flex-center outside-border">
        <h2>Generisano iz ngFor direktive</h2>
        <h3>{{users}}</h3>
        <!-- ngFor funkcionise tako sto se unutar html taga definise ngFor u kome se definise varijabla
         koja ce proci kroz Array definisanom varijablom, koju mozemo da pozovemo unutar html taga
         putem string interpolation-a
         ngFor da bi funkcionisao, mora biti importovan @angular/common u .ts fajl komponente -->
        <h3 *ngFor="let korisnik of users">{{korisnik}}</h3>
    </div>

    <div class="flex-column flex-center outside-border">
        <h2>Generisano iz &#64;For direktive</h2>

        <!-- @for funkcionise tako sto joj se prosledi Array, definise se varijabla koja ce proci kroz
         taj Array, cak moze i da prati index svakog elementa preko "track $index" 
         index mozemo pozvati preko string interpolationa kao {{$index}}
         -->
        @for (korisnik of users; track $index) {
        <h3>{{korisnik}} koji ima index:{{$index}}</h3>
        }
    </div>

    <div *ngIf="usersObject.length==0;else fetchedUserObjects">
        <h1>Nema usera za prikaz</h1>
    </div>

    <ng-template #fetchedUserObjects>
        <div class="flex-column flex-center outside-border">
            <h1>Fetch object array using ngFor</h1>

            <!-- FETCHING Array of objects funkcionise isto kao i obican array, samo sa tom razlikom
             sto u Array-u objekata moramo da se pozovemo na ime polja u objektu DOT notacijom -->
            <div class="flex-left">
                <ul *ngFor="let korisnikObject of usersObject">
                    <li>ID: {{korisnikObject.id}}</li>
                    <li>Ime: {{korisnikObject.name}}</li>
                    <li>Mail: {{korisnikObject.email}}</li>

                    <!-- brisanje korisnika trazenjem indexa objekta u Arrayu -->
                    <button (click)="obrisiKorisnika(korisnikObject)">Obrisi korisnika</button>
                </ul>
            </div>


        </div>
    </ng-template>


    @if(usersObject.length==0){
    <h1>Nema korisnika za prikaz</h1>
    }
    @else {
    <div class="flex-column flex-center outside-border">
        <h1>Fetch object array using &#64;for direktive</h1>
        <!-- FETCHING Array of objects funkcionise isto kao i obican array, samo sa tom razlikom
                 sto u Array-u objekata moramo da se pozovemo na ime polja u objektu DOT notacijom -->


        <div class="flex-left">
            <!-- $count,$first,$last,$even,$odd su predefinisane varijable koje unutar @for petlje
             mozemo inicijalizovati, ne bismo li kroz uslovno grananje svaki od izbora stilizovali
             ili uredili na poseban nacin -->
            @for (korisnikObject of usersObject; track $index; let i=$index; let count = $count;
            let last = $last; let first = $first; let even = $even; let odd = $odd) {
            <ul class="flex-left">

                <li>Id: {{korisnikObject.id}}</li>
                <li>Ime: {{korisnikObject.name}}</li>
                <li>Email: {{korisnikObject.email}}</li>
                <li>Prvi: {{first}},
                <li>poslednji: {{last}}</li>
                <!-- even i odd posmatraju vrednost indexa u odluci da li je neki element paran ili neparan
                 sto znaci da je prvi element u Arrayu paran jer ima index 0, drugi neparan jer ima index 1 itd -->
                <li>index: {{i}}</li>
                <li>neparan: {{odd}}</li>
                <li>paran: {{even}}</li>
                <!-- ovde direktno prosledjujemo index elementa funkciji -->

                <p>Korisnik {{i+1}}/{{count}}</p>
                <button (click)="obrisiKorisnikaIndexom($index)">Obrisi korisnika</button>

            </ul>

            }

            <!-- @empty direktiva se nadovezuje na @for direktivu i reaguje na dogadjaje kada @for direktiva
                         naidje na prazan Array -->
            @empty {
            <h1>Nema usera za prikaz - generisano iz &#64;empty direktive </h1>
            }
        </div>
    </div>

    }


    <div class="flex-column flex-center outside-border">
        <h1>Change detection in Angular</h1>
        <!-- svaku promenu u stanju objekata, Angular update-uje DOM ne bi li prikazao te promene -->
        <button (click)="dodajKorisnika()">Dodaj novog korisnika u varijablu usersObject</button>
    </div>
</div>

<h1>Switch statements</h1>

<div class="flex-center flex-column">
    <h1>ngSwitch statement</h1>
    <div [ngSwitch]="userRole">

        <p *ngSwitchCase="'Admin'">Welcome {{userRole}}</p>
        <p *ngSwitchCase="'Member'">Welcome {{userRole}}</p>
        <p *ngSwitchDefault>Welcome nepoznati covece</p>
    </div>


    <h1>&#64;Switch statement</h1>

    @switch (userRole) {
    @case ('Admin') {
    <p>Dobrodosao Administratore nas, Administratore nas, Administratore nas</p>
    }
    @case ('Member') {
    <p>Dobrosao Druze Clane partije</p>
    }
    @default {
    <button (click)="logIn()">Molimo, ulogujte se</button>
    <input type="text" id="inptText">
    }
    }


</div>

<h1>Style binding</h1>
<div class="flex-center flex-column">
    <!-- style binding funkcionise tako sto sto se napise [style.<ime css pravila>]=<uslov>?<vrednost ako je true>:<vrednost ako je false>
        losa strana style bindinga je u tome sto za jedan isti element za vise razlicitih pravila moramo da ponovimo
        direktivu [style.<ime novog pravila>...] dok u ngStyle mozemo da unutar jedne direktive definisemo
        vise razlicitih pravila koja treba da budu primenjena na elementu -->
    <h1 [style.color]="isLoggedIn?'blue':'red'" [style.textTransform]="isLoggedIn?'uppercase':'lowercase'"
        [style.background]="isLoggedIn?'grey':'aqua'">
        Welcome admin - Style binding
    </h1>

    <!-- ngStyle funkcionise tako sto se napise [ngStyle="<ime css direktive>:<uslov>?<vrednost za true>:<vrednost za false>, <ime novog css pravila>..."] 
        dobra strana ovog pristupa je u tome sto se moze definisati neograniceno css pravila unutar jednog elementa-->
    <h1 [ngStyle]="{'color':isLoggedIn?'blue':'red',
                    'background':isLoggedIn?'grey':'aqua',
                    'textTransform':isLoggedIn?'uppercase':'lowercase'
                    }">
        Welcome administrator - ngStyle binding
    </h1>

    <!-- class binding funkcionise tako sto se napise [class.<ime klase definisane u css fajlu>=<uslov>] 
        problem sa ovim nacinom dodavanja klasa elementu je u tome sto se mora ponoviti direktiva i za ostale
        moguce ishode uslova
        -->
    <h1 [class.logIn]="isLoggedIn" [class.logOut]="!isLoggedIn">
        Welcome administrator - Class binding
    </h1>

    <!-- ngClass binding funkcionise tako sto se napise [ngClass="{<ime klase definisane u css fajlul>:<uslov>
        , <ime druge klase>:<drugi uslov>}"]
        ovaj pristup je odlican jer se svi moguci ishodi pokrivaju unutar jedne direktive -->
    <h1
    [ngClass]="{'logIn':isLoggedIn, 'logOut':!isLoggedIn}">
    Welcome administrator - ngClassBinding
    </h1>

</div>